body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#grid-jadwal .bg-white {
  transition: transform 0.3s ease;
}

#grid-jadwal .bg-white:hover {
  transform: translateY(-10px);
}

.img-member {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.member-card:hover .img-member {
  transform: scale(1.1);
}

/* Responsif untuk HP */
@media (max-width: 640px) {
  #grid-jadwal {
    grid-template-columns: 1fr;
  }
}
